@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    margin: auto;
}

:root {
    --cor01:#395EBB;
    --cor02:#445A91;
    --cor03:#2058E5;
    --cor04:#414C66;
    --cor05:#30333C;
    --cor06:#2A2D33;
}


body {
    background-color: var(--cor06);               
    font-family: Arial, Helvetica, sans-serif; 
    
}

main {
    margin-top: 80px;      
    width: 400px;
    height: 450px;
    border-color: white;
    border-width: 2px;
    border-radius: 0px 10px 0px 10px;
    border-style: solid;    
}

h1 {
    color: white;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 3em;    
    text-decoration: underline;
}

input {
    width: 307px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;    
    text-indent: 10px;    
    margin-bottom: 10px;   
}

p.title {
    color: white;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 5px;    
    margin: 0px;
    padding-right: 50px;
}

p {
    text-align: center;
}

p#esqueciSenha {
    margin-top: 20px;
}

#inputBtn {    
    width: 310px;
    padding: 10px;
    background-color: var(--cor03);
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: 17px;
}

#inputBtn:hover {
    transition: 0.5s;
    background-color: var(--cor02);
    font-weight: bolder;
}

div#btnLogin {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;        
}

a {       
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--cor03);
    text-decoration: underline;
    transition: 0.3s;    
}